
.playlist{
    margin-bottom: 80px;
}

.playlist h2{
    margin-bottom: 20px;
}

.playlist_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--text);
    width: 80%;
    height: 100px;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.playlist_item p{
    font-size: 25px;
}

.playlist_item:hover img{
    opacity: 1;
}

.playlist_item img{
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: multiply;
}

.playlist .playlist_item:last-child{
    border-bottom: 2px solid var(--text);
}






.video_card_container{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.video_card{
    width: 270px;
    border: 2px solid var(--index4);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: ease 0.3s;
    margin: 0px 20px 20px 0px;
    position: relative;
}

.video_card:hover{
    transform: translateY(-5px);
    border-color: var(--index);
}

.video_card img{
    border-radius: 20px;
    width: 100%;
}

.video_card h4{
    margin-top: 10px;
}

.video_card:hover h4{
    text-decoration: underline;
}
.video_card p{
    margin-top: auto;
    font-size: 14px;
    margin-left: auto;
}





@media screen and (max-width: 800px){
    .playlist_item{
        width: 100%;
    }
    .playlist_item p{
        font-size: 16px;
    }
    .playlist_item span{
        font-size: 12px;
    }
    .playlist_item img{
        position: static;
        width: 60px;
        opacity: 1;
    }
    .video_card{
        width: 100%;
        margin: 0 0 10px 0px;
    }
}
