.news_container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
}


.news_item{
    max-width: 330px;
    width: 100%;
    margin: 0px 15px 15px 0px;
    position: relative;
    background: var(--card_bg);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: ease 0.3s;
    border: 1px solid var(--index4);
}

.news_item h4{
    font-size: 20px;
    font-weight: 500;
}

.news_item:hover h4{
    text-decoration: underline;
    color: var(--index3)!important;
}


.news_item .img_container{
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news_item .img_container img{
    width: 100%;
    border-radius: 5px;
}


.news_item .text_container h4{
    font-size: 18px;
    margin: 10px 0px 5px 0px;
    color: var(--brown);
}
.news_item .text_container p{
    color: var(--font);
    font-size: 15px;
}

.news_item .text_container span{
    position: absolute;
    top: 15px;
    right: 10px;
}















.half{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.half .img_container,
.half .text_container{
    width: calc(50% - 30px);
}

.half .img_container{
    position: sticky;
    top: 130px;
}

.half .text_container h2{
    font-size: 30px;
}

.half .text_container h5{
    color: var(--index1);
    margin-bottom: 10px;
}


.half .text_container p{
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
}

.half .text_container ul{
    margin-top: 30px;
}

.half .text_container ul li{
    list-style: disc;
    margin-left: 30px;
}

.half .text_container ul h4{
    font-size: 20px;
}
.half .text_container ul li{
    margin-top: 10px;
}

.half .btn{
    margin-top: 30px;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid var(--index4);
    border-radius: 50px;
    margin-right: 10px;
    transition: 0.2s;
}

.half .btn:hover{
    border-color: var(--index3);
    background: var(--index3);
    color: var(--bgrd);
}


.get_back_btn:hover{
    background: var(--index1)!important;
    border-color: var(--index1)!important;
}

.half .img_container img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
}



@media screen and (max-width: 800px){

    .news_item{
        max-width: 100%;
        margin: 0 0 10px 0px;
    }

    .half .img_container{
        width: 100%;
        margin-top: 30px;
    }
    .half .text_container{
        width: 100%;
        position: static;
    }
}

