
.timetable_container{
    display: flex;
    flex-wrap: wrap;
}

.timetable{
    width: 100%;
    margin-bottom: 50px;
}

.timetable h3{
    display: inline-block;
    padding: 10px 20px;
    background: var(--index);
    color: var(--bgrd);
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.timetable_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid var(--index4);
    border-bottom: 0;
    margin-bottom: 5px;
    border-radius: 30px;
    padding: 30px;
}

.timetable .timetable_item:last-child{
    border-bottom: 2px solid var(--index4);
}



.timetable_box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}


.timetable_item .timetable_box:nth-child(1) h4{
    font-size: 20px;
    font-weight: 700;
}

.timetable_item .timetable_box:nth-child(1) p{
    font-size: 15px;
    margin-top: 10px;
}
.timetable_item .timetable_box:nth-child(1) a{
    border: 2px solid var(--index2);
    color: var(--index2);
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 50px;
    transition: ease 0.2s;
}


.timetable_item .timetable_box:nth-child(1) a:hover{
    background: var(--index2);
    color: var(--text);
}

.timetable_item .timetable_box:nth-child(2) p{
    background: var(--index);
    color: var(--bgrd);
    padding: 5px;
    border-radius: 5px;
}
.timetable_item .timetable_box:nth-child(2) h5{
    padding: 3px;
    font-size: 26px;
}



.timetable_item .timetable_box:nth-child(3){
    align-items: flex-end;
}

.timetable_item .timetable_box:nth-child(3) h4{
    color: var(--index);
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

.timetable_item .timetable_box:nth-child(3) p{
    font-size: 12px;
}

.timetable_item .timetable_box:nth-child(3) img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}












@media screen and (max-width: 800px){
    .timetable{
        width: 100%;
    }
    .timetable_item{
        padding: 20px;
    }
    .timetable_box{
        margin: 10px 0;
    }
    .timetable_item .timetable_box:nth-child(1) h4{
        font-size: 18px;
    }
    .timetable_item .timetable_box:nth-child(1) p{
        font-size: 12px;
    }
    .timetable_item .timetable_box:nth-child(2) p{
        font-size: 12px;
    }
    .timetable_item .timetable_box:nth-child(3){
        align-items: flex-start;
        width: 100%;
    }
}